@font-face {
    font-family: National-Park-Thin;
    src: url("fonts/NationalPark/NationalPark-Thin.otf");
}

@font-face {
    font-family: National-Park;
    src: url("fonts/NationalPark/NationalPark-Regular.otf");
}

@font-face {
    font-family: National-Park-Heavy;
    src: url("fonts/NationalPark/NationalPark-Heavy.otf");
}

@font-face {
    font-family: National-Park-Outline;
    src: url("fonts/NationalPark/NationalPark-Outline.otf");
}

@font-face {
    font-family: Century;
    src: url("fonts/Century/C059-Roman.otf");
}

@font-face {
    font-family: Century-Italic;
    src: url("fonts/Century/C059-Italic.otf");
}

@font-face {
    font-family: Century-Bold;
    src: url("fonts/Century/C059-Bold.otf");
}

@font-face {
    font-family: Century-Bold-Italic;
    src: url("fonts/Century/C059-BdIta.otf");
}

html {
    scroll-behavior: smooth;
}

.section {
    padding: 50px 0;
    background: rgba(255, 255, 255, 0.2); /* Glass-like transparent background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add drop shadow */
    border-radius: 10px; /* Optional: Add rounded corners */
    margin: 20px; /* Add gap between sections and from the edges of the parent div */
    padding: 20px; /* Add gap from the edges of the section */
}

#index-section {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    width: 50%;
    margin: 0 auto; /* Center horizontally */
}

#index-content {
    width: 50%;
}

#index-content .subtitle{
    text-align: left;
}

#about-me-section h3,
#bio-section h3,
#my-work-section h3 {
    color: black;
    font-family: National-Park-Heavy,Calibri,sans-serif;
    font-size: 2rem;
    text-align: left;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    padding: 10px;
    border-radius: 10px;
}

#my-work-section h4 {
    color: rgb(255, 255, 255);
    font-family: National-Park-Heavy,Calibri,sans-serif;
    font-size: 1.5rem;
    text-align: left;
    background-image: linear-gradient(to left, rgba(220, 115, 115, 1) 0%, rgba(220, 115, 115, 1) 100%);
    padding: 10px;
    border-radius: 10px;
}

#my-work-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#studyShowcase {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px 20px;
}

#workImageContainer{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#workImageContainer {
    position: relative;
}

#workImageContainer img {
    width: 100%;
    height: auto;
    border-width: 5px;
    border-radius: 10px;
    border: white 2px solid;
}

#workImageContainer button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

#workImageContainer button.left {
    left: 10px;
}

#workImageContainer button.right {
    right: 10px;
}

#workImageContainer button{
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

h1 {
    font-family: National-Park-Heavy,sans-serif;
    color: black;
}

h2 {
    font-family: National-Park,sans-serif;
    color: black;
}

h3 {
    font-family: National-Park-Thin,sans-serif;
}

h4 {
    font-family: National-Park,sans-serif;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
}

#tabs-container a {
    color: black;
    text-decoration: underline;
    font-family: National-Park,sans-serif;
    font-size: 1.5rem;
}

body {
    background-color: rgb(241 241 241);
    background-image: url('images/indexBackground.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: antiquewhite;
    font-family: Century, serif;
    transition: background-image 0.5s ease-in-out;
}

#quiz-body {
    background-image: url('images/simonBackground.gif')
}

#imgForest {
    background-image: url('images/forestBackground.gif');
}

#imgLamp {
    background-image: url('images/lampBackground.gif');
}

#imgChurch {
    background-image: url('images/shoreChurchBackground.gif');
}

img {
    border: 1px solid black;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
}

#profile-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
}


#profiles:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Add glow effect on hover */
}

#profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    transition: box-shadow 0.5s ease-in-out; /* Add transition for smooth effect */
    width: 33%; /* Set a width for the text to wrap */
    margin-top: 20px; /* Add margin to appear underneath the main image */
    text-align: center; /* Center align the text */
}

p {
    font-family: Century,serif;
    transition: text-shadow 0.5s ease-in-out;
}

p:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#quiz-question {
    color: black;
    background: white;
    border-radius: 10px;
    padding: 10px;
}

#ques-count {
    color: white;
    background: black;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

#tab {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid blue;
    color: lightblue;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(134, 220, 248, 0.5); /* Light blue glow */
    transition: all 0.3s ease-in-out;
}

#tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    padding: 10px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 1);
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

#tabs-container .buttons, button {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

#tabs-container .buttons:hover, button:hover {
    border: 2px solid black;
    color: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    transform: scale(1.05); /* Expand uniformly */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

#tabs-container .buttons:hover *, button:hover * {
    transform: scale(1.05); /* Ensure child elements also expand */
    transition: transform 0.3s ease-in-out; /* Smooth transition for child elements */
}

#tab:hover {
    background: rgba(255, 215, 0, 0.2);
    border: 2px solid gold;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#quiz-question button {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

#quiz-question button:hover {
    background: rgba(255, 215, 0, 0.2);
    border: 2px solid gold;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#tabs-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    transition: box-shadow 0.5s ease-in-out; /* Add transition for smooth effect */
    width: 60%;
    margin-top: 20px;
    text-align: left;
}

#quiz-content {
    display: block;
    width: -webkit-fill-available;
}

#quiz-box {
    display: block;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    transition: box-shadow 0.5s ease-in-out; /* Add transition for smooth effect */
    width: -webkit-fill-available;
    text-align: left;
}

#main-content {
    width: 60vw;
    position: fixed;
    right: 0;
    background: none; /* Remove background from main div */
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    overflow: scroll;
    height: 100vh;
    z-index: 1; /* Keep content above the pseudo-element */
}

#main-content::before {
    content: "";
    position: fixed; /* Fixes it to the viewport to avoid scrolling issues */
    top: -50vh; /* Extend far beyond the top of the viewport */
    right: 0;
    width: 60vw;
    height: 200vh; /* Covers double the viewport height */
    background: rgba(0, 0, 0, 0.7);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.15));
    z-index: -1; /* Push it behind the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#logo-container {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: auto;
    z-index: 2; /* Ensure it is above other content */
}

#logo {
    max-width: 66%; /* Ensure it scales with zoom */
    max-height: 66%; /* Ensure it scales with zoom */
}

#logo img {
    width: auto; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it scales with zoom */
    max-height: 100%; /* Ensure it scales with zoom */
    border-style: none; /* Remove border */
    transition: opacity 0.5s ease-in-out; /* Add transition for fade effect */
    transform: scale(1); /* Ensure initial scale is set */
    transition: transform 0.5s ease-in-out; /* Add transition for smooth effect */
}

#logo img:hover {
    transform: scale(1.25); /* Scale up on hover */
    transition: transform 0.5s ease-in-out; /* Add transition for smooth effect */
}


#logo img.fade-out {
    opacity: 0; /* Fade out effect */
    transition: opacity 0.5s ease-in-out;
}

#logo img.fade-in {
    opacity: 1; /* Fade in effect */
    transition: opacity 0.5s ease-in-out;
}

.title {
    font-family: National-Park,sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.subtitle {
    font-family: Century,sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
}

.dms-header {
    font-family: National-Park-Outline,sans-serif;
    font-size: 75px;
    font-weight: normal;
    color: #222;
    padding: 10px 20px;
    margin-block: 10px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 100) 100%);
    display: inline-block;
    width: -webkit-fill-available;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.tabs-stuff {
    display: block;
}


#quiz-question button.clicked.correct {
    background-color: green;
    color: white;
    font-weight: bolder;
    opacity: 1; /* Start fully visible */
    transform: scale(0.95); /* Scale down slightly */
    transition: background-color 0.5s ease-in-out, color 0.5s, font-weight 0.5s, opacity 0.5s ease-in-out, transform 0.1s ease-in-out;
}

#quiz-question button.clicked.correct.fade-out {
    animation: fadeOut 0.5s forwards;
}

#quiz-question button.clicked.correct:active {
    transform: scale(1); /* Scale back up */
    transition: transform 0.1s ease-in-out;
}

#quiz-question button.clicked.wrong {
    background-color: red;
    color: white;
    font-weight: bolder;
    opacity: 1; /* Start fully visible */
    transform: scale(0.95); /* Scale down slightly */
    transition: background-color 0.5s ease-in-out, color 0.5s, font-weight 0.5s, opacity 0.5s ease-in-out, transform 0.1s ease-in-out;
}

#quiz-question button.clicked.wrong.fade-out {
    animation: fadeOut 0.5s forwards;
}

#quiz-question button.clicked.wrong:active {
    transform: scale(1); /* Scale back up */
    transition: transform 0.1s ease-in-out;
}

/*@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        background-color: initial; 
    }
}*/