html {
    height: 100%;
}

html::before {
    background-image: url('images/tpwwBG.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}